
body {
  margin: 0px;
  padding: 0px;
}
.game-title {
  font-size: 30px;
  box-shadow: 2px 2px 5px #dadadb;
  text-align: center;
  margin-bottom: 20px;
}
.game-section {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.dice-positons-bet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dice-position-bet-label {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  /* align-self: center; */
}
.dice-bet-div {
  display: flex;
  flex-direction: column;
}
.dice-bet-div .bet-amount {
  align-self: center;
}
.bet-amount input {
  width: 50px;
}
.to-roll-div-label {
  margin-bottom: 20px;
}
.to-roll-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 40px;
}

.to-roll-div-dice {
  align-self: center;
}
